body {
    border:0px none;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    background: url('img/bg.gif');
}
a {
	color:#445599;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	background:#445599;
	color:#FFE;
}

#content {
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 33px;
    margin: 22px;
}

#header {
    color: 94B823;
    font-size: 72pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px;
    text-align: center;
    margin-top: 1cm;
}

#header links{
    color: 94B823;
    font-size: 8pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px;
    text-align: center;
    margin-top: 1cm;
}

#content h1 {
    color: #49586A;
    font-size: 28pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-top: 2.5cm;
}
#content h2 {
    margin-top: 1cm;
}

#content pre {
    background-color: #dddddd;
}
#content li {
    margin-bottom: 2mm;
}
#content td {
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#content th {
    text-align: left;
}
